<!-- <aside class="logo"> -->

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = '关于我' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = '回首页' %}
	{% endif %}

	<!-- <a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span> -->

<!-- </aside> -->
<!-- 
<section class="nav">
	<div class="navhome">
		<a class="nav-logo" href="{{ link | prepend: site.baseurl | prepend: site.url }}">
			<img src="{{ site.logo_url }}" class="avatar"/>
			<span class="tooltiptext">{{ prompt }}</span>
		</a>
		<div class="author">
			<div class="author-name">皂皂 TINYAO</div>
			<div class="author-intro"">行进中的产品设计师，Android 开发者</div>
		</div>
	</div>
	<div class="divider"></div>
</section> -->

<div class="header">
	<div class="container">
		<div class="nav">
			<ul>
				<li><a href="/"><img class="site_logo" src="https://zico.oss-cn-beijing.aliyuncs.com/test/5l05s.png"></a></li>
				<li><a href="/">About</a></li>
<!-- 				<li><a href="/posts">Posts</a></li> -->
				<li><a href="/works">Works</a></li>
			</ul>
		</div>
	</div>
</div>



