@font-face {
  font-family: Apercu;
  src: url(/assets/fonts/apercu/apercu-bold.eot);
  src: url(/assets/fonts/apercu/apercu-bold.eot?#iefix) format('embedded-opentype'), url(/assets/apercu/apercu-bold.woff) format('woff'), url(/assets/apercu/apercu-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Apercu;
  src: url(/assets/fonts/apercu/apercu-light.eot);
  src: url(/assets/fonts/apercu/apercu-light.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/apercu/apercu-light.woff) format('woff'), url(/assets/fonts/apercu/apercu-light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block
}

@font-face {
  font-family: Apercu;
  src: url(/assets/fonts/apercu/apercu-regular.eot);
  src: url(/assets/fonts/apercu/apercu-regular.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/apercu/apercu-regular.woff) format('woff'), url(/assets/fonts/apercu/apercu-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Fedra Sans";
  src: url(/assets/fonts/fedra/WF-030004-010059-000025.eot);
  src: url(/assets/fonts/fedra/WF-030004-010059-000025.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/fedra/WF-030004-010059-000025.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block
}

@font-face {
  font-family: "Fedra Sans";
  src: url(/assets/fonts/fedra/WF-030004-010059-000002.eot);
  src: url(/assets/fonts/fedra/WF-030004-010059-000002.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/fedra/WF-030004-010059-000002.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 62.5%;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, Tahoma, Geneva, sans-serif;
  color: #2a2f35;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.25;
  color: #313131;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  margin-top: 1.1rem;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

a {
  color: inherit;

  &.image {
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
  }

  &:hover {
    transition: all 0.3s;
    color: #000;
    text-decoration: underline;
  }
}

p {
  font-size: 1rem;
}

mark {
  background: #fffc76;
  padding: 0 5px;
}

.navhome {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;

  .nav-logo {
    text-decoration: none;
    border-bottom: none;

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .author {
    margin-left: 16px;

    .author-name {
      font-size: 24px;
      color: #333;
      font-weight: bold;
    }

    .author-intro {
      font-size: 14px;
      color: #999;
      margin-top: 6px;
    }

  }

}



.container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    max-width: 100% !important;
  }
}


.header {
  padding: 40px 0;

  .nav {
    width: 100%;
    font-size: 1rem;

    ul {
      overflow: hidden;
      margin: 0;
      padding-left: 0;
    }

    li {
      line-height: 34px;
      list-style-type: none;
      list-style: none;
      float: left;
      padding-right: 25px;

      a {
        color: #333;
      }
    }

    .site_logo {
      width: 32px;
      border-radius: 32px;
      float: left;
      margin: 0;
    }
  }

}


.index {
  height: 100vh;
  position: relative;
}

.page-heading {
  margin-top: 30px;
  margin-bottom: 80px;
}

.home-about {
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-60%);


  .bio {
    width: 60%;
    display: inline-block;

    .nick {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
    }

    .nick-aka {
      font-size: 16px;
      font-weight: normal;
      margin-left: 8px;
      color: #96a1ad;
    }

    .brief {
      line-height: 1.8;
      margin-top: 40px;
      letter-spacing: 0.2px;
    }

    .avatar {
      display: none;
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #f93139;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-color: #f93139;
      }
    }

    a.social {
      padding: 0 3px;
      text-decoration: none;
      border-bottom: none;
      color: inherit;
      color: #96a1ad;
    }

  }

  .avatar-mobile {
    display: none;
  }

  .avatar-wrapper {
    width: 25%;
    float: right;
  }

  @media (max-width : 768px) {
    top: 4rem;
    transform: none;

    .avatar-mobile {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin-bottom: 30px;
      display: block;
    }

    .bio {
      width: 100%;

      .avatar {
        display: inherit;
      }
    }

    .avatar-wrapper {
      display: none;
    }
  }
}



.nav {
  a {
    text-decoration: none;
    border-bottom: none;
  }

  .divider {
    background: #ddd;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#ccc), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
    height: 1px;
    margin-top: 3em;
  }
}

.logo {
  position: relative;
  margin: 0 auto 35px;
  text-align: center;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;

  a {
    background: #ddd url("logo_wrapper.png");
    color: #000;
    text-decoration: none;
    font-weight: 700;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border: 5px solid #fff;
    box-sizing: border-box;

    &:hover,
    &:focus {
      background: #f14e32;
    }

    &:hover+.logo-prompt,
    &:focus+.logo-prompt {
      display: inline-block !important;
    }

    .logo-avatar {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    @media (max-width : 480px) {

      &:hover+.logo-prompt,
      &:focus+.logo-prompt {
        display: none !important;
      }
    }
  }

  .logo-prompt {
    position: absolute;
    display: none;
    vertical-align: middle;
    padding: 5px;
    border-radius: 3px;
    background: #666;
    background: rgba(0, 0, 0, .5);
    margin-left: 15px;
    color: #fff;
    font-size: 0.8235em;
    text-align: center;
    line-height: 1.2;
    top: 50%;
    margin-top: -10px;

    &:before {
      content: "";
      border-width: 5px 5px 5px 0;
      border-style: solid;
      border-color: transparent #666;
      border-color: transparent rgba(0, 0, 0, .5);
      position: absolute;
      top: 50%;
      left: -5px;
      margin-top: -5px;
    }
  }
}

iframe {
  margin: 45px 0 !important;
}

ul,
ol {
  margin: 20px 0;
  padding-left: 20px;
  line-height: 1.9em;

  li {
    word-wrap: break-word;
  }

  img {
    margin: 40px 0;
    border-radius: 5px;
  }
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}

time {
  color: #555;
}

code,
pre,
.code,
.footnotes {
  font-family: Consolas, monaco, monospace;
}

code {
  color: #f14e32;
  background: #eee;
  padding: 2px 6px;
  font-size: 13px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;

  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  margin: 45px 0;

  thead {
    background: #f2f2f2;
  }

  th {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 15px solid #fff;
  }

  td {
    padding: 4px 0;
  }
}

iframe {
  width: 100%;
}


article {
  margin: 0 10%;
  font-size: 1rem;
  color: #555;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2.5em 0 1.3em 0;
    color: #000;
  }

  h1 {
    font-size: 1.35em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.15em;
  }

  h4 {
    font-size: 1.1em;
  }

  ul,
  ol {
    margin: 2.0em 0;
  }

  .md_block {
    margin-bottom: 2.0em;
  }

  pre {
    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    margin-top: 1.2em;
    margin-bottom: 2.2em;
    padding: 15px 20px;
    display: block;
    overflow: auto;
    background: #fdfdfd;
  }

  a {
    color: #f93139;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      color: #f93139;
      text-decoration: none;
      border-bottom: 1px solid #f93139;
    }
  }


  blockquote,
  .stressed {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2.5em 0;
    padding: 0 0 0 15px;
    font-style: italic;
    color: #888;
    font-size: 14px;
    border-left: 4px solid #eeeeee;
  }

  blockquote p {
    font-size: 14px;
  }

  // blockquote:before,.stressed-quote:before {
  // 	content: "\201C";
  // 	display: block;
  // 	font-family: times;
  // 	font-style: normal;
  // 	font-size: 48px;
  // 	color: #BBBBBB;
  // 	font-weight: bold;
  // 	line-height: 30px;
  // 	margin-left: -50px;
  // 	position: absolute;
  // }
  strong,
  b,
  em {
    padding: 1px 2px;
  }

  h1.title {
    line-height: 1.4em;
    font-size: 1.4em;
  }

  .divider {
    background: #f5f5f5;
    height: 1px;
    margin: 4rem 0 5rem 0;
  }

  .center {
    text-align: center;
    margin: 0 auto;
  }

  hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
  }

  p {
    line-height: 1.9em;
    word-wrap: break-word;
  }

  .footnote {
    border: 0;
    background-color: #0087BE;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
  }

  .footnotes {
    margin: 50px auto;
    display: block;
    font-size: 0.8em;
    color: #666;

    p {
      line-height: 1rem;
      font-weight: normal;
    }

    ol {
      margin: 0;
      padding-left: 15px;

      li {
        font-weight: bold;
      }
    }

    .reversefootnote {
      border: 0;
      color: #0087BE;
    }
  }

  @media (max-width : 992px) {
    margin: 0 auto;
  }
}

.back {
  text-align: center;

  a {
    text-decoration: none;
    margin: 40px auto 0;
    display: inline-block;
    padding: 10px;
    border: 0;

    &:before {
      content: "<<";
      margin-right: 5px;
      color: #000;
    }
  }
}

.block {
  display: block;
}

.page-navigation,
.footer {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 0.8rem;
}

.page-navigation {
  margin: 50px auto 0 auto;

  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
  }

  span {
    display: inline-block;
  }
}

.footer {
  margin-top: 50px;
  color: #777;

  a {
    border: none;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

}

.page-posts {

  padding-top: 40px;

  .container {
    max-width: 60%;
  }

  ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;

    li.post-item {
      overflow: hidden;
      padding: 25px 20px;
      border-bottom: 1px solid #f5f5f5;

      &:hover {
        background: #f8f8f8;
      }

      h2.post-title {
        max-width: 100%;
        word-wrap: normal !important;
        font-size: 1.2rem;
        margin: 0;
        color: #333;
      }

      .post-excerpt {
        font-size: 0.85rem;
        color: #666;
        line-height: 1.8;
        margin-bottom: 0;
        margin-top: 0.4rem;
      }

      img, video {
        max-width: 100%;
        margin: 0;
      }

      .post-content {
        float: left;
      }

      .post-cover {
        float: right;
        width: 200px;
        height: 130px;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        margin-left: 30px;
      }

      a {
        text-decoration: none;
        border-color: transparent;
        color: #555;
        box-sizing: border-box;
      }

      .post-date {
        font-size: 0.8rem;
        color: #ccc;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        margin-top: 0.4rem;        
      }

      @media (max-width : 768px) {
        padding-left: 0;
        padding-right: 0;
        
        .post-cover {
          float: none;
          display: block;
          width: 100%;
          margin-left: 0;
          height: 40vw;
          margin-bottom: 20px;
        }

        .post-excerpt {
          margin-top: 10px;
        }

      }

      @media (min-width: 992px) {
        a {
          border-bottom: 2px solid transparent;

          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, -1000px, 0);
  }

  60% {
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -1000px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
  }
}


code.about-tag {
  color: #333333;
  background: transparent;
  padding: 1px 4px;
  font-size: 11px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

/** About Page **/
.social {
  a {
    border-bottom: none;
    margin-right: 16px;
    font-size: 18px;

    &:hover {
      border-bottom: none;
    }
  }
}

.nav-logo {
  .tooltiptext {
    visibility: hidden;
    font-size: 10px;
    background-color: #999;
    color: #fff;
    text-align: center;
    margin-top: 4px;
    padding: 2px 14px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #999 transparent;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}


.works {
  padding: 0 0px;

  .item {
    clear: both;
    position: relative;
    margin: 0 auto;
    widows: 100%;
  }

  .inner-item {
    height: 50em;
    margin: 1rem 1rem 0;
    border-radius: .6rem;
    position: relative;
    overflow: hidden;
  }

  .item-main {
    padding-top: 12rem;
    position: relative;
    z-index: 10;
  }

  .item-title {
    color: #434240;
    margin: 0.2rem 0;
    font-weight: 700;
    font-family: 'Fedra Sans',sans-serif;
  }

  .item-brief {
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 400;
  }

  .autowidth {
    max-width: 72vw;
    margin: 0 auto;
    width: 70vw;
  }

  .item-desc {
    color: #fff;
    font-size: .8rem;
    text-align: left;
    padding: 0;
    width: 75%;
    margin: 3em 0 0;
    line-height: 1.8;
    position: relative;
    font-weight: 400;
    font-family: Apercu,sans-serif;
  }

  .item-tags,
  .item-btn {
    color: white;
    opacity: 0.7;
  }

  .item-tags {
    padding: 0;
  }

  .item-btn {
    display: inline-block;
    border-radius: 2em;
    padding: .2em .7em .1em .5em;
    background: 0 0;
    font-size: .8rem;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    margin: 0 .4em 0 -.5em;
    transition: all .2s cubic-bezier(.4, 0, 0, 1);
    text-decoration: none;
  }

  .item-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }

  .item-btn:after {
    content: "‣";
    display: inline-block;
    margin: 0 0 0 .4em;
    transition: all .25s cubic-bezier(.4, 0, 0, 1);
  }

  main img {
    pointer-events: none;
  }


  .s-moctown-img {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }

  .s-moctown {
    .inner-item {
      background: #1F1F1F;
    }

    h1,
    .item-brief {
      color: white;
    }

    .item-btn,
    .item-tags {
      color: #666;
    }

    .item-btn:hover {
      color: white;
    }
  }

  .s-fanfou {
    .inner-item {
      background: #E9ECF0;
    }

    h1,
    .item-brief {
      color: #404D5B;
    }

    .item-btn,
    .item-tags {
      color: #999;
    }
  }

  .s-jmf {
    .inner-item {
      background: #FDA762;
      color: white;
    }

    h1 {
      color: white;
    }

    .item-btn,
    .item-tags {
      color: white;
      opacity: 0.7;
    }
  }

  .s-jmf-workspace {
    .inner-item {
      background: #6C8DC1;
      color: white;
    }

    h1 {
      color: white;
    }
  }

  .s-xinsheng {
    .inner-item {
      background: #80ABA9;
      color: white;
    }

    h1 {
      color: white;
    }
  }

  .s-boocle {
    .inner-item {
      background: #F37042;
      color: white;
    }

    h1 {
      color: white;
    }
  }

  @media screen and (max-width: 1000px) {
    .item {
      .inner-item {
        height: auto;
        ;
      }

      .item-main {
        padding-top: 4rem;
      }

      .autowidth {
        display: block;
        max-width: 90%;
        width: 80rem;
        margin: 0 auto;
      }

      h1 {
        text-align: center;
        font-size: 1.5rem;
      }

      .item-brief {
        text-align: center;
        font-size: 0.9rem;
      }

      .item-desc {
        text-align: center;
        padding: 0;
        margin: 3em auto;
        width: auto;
        height: auto;
      }

      .mobile-full-width {
        display: block;
        margin: 0 auto;
        left: none;
        right: none;
        position: static;
        height: auto;
        width: auto;
        max-width: 90%;
      }
    }
  }
}